<div class="wishlist-area pt-60 pb-60">
    <div class="container">
    
<form method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1" ></label>Comment</label>
    <textarea  name="txtcomment"lass="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button formaction="/account/comment"style="background-color:rgb(255, 215, 0)
;color:rgb(15, 14, 14); font-weight: bold; " type="submit">Sent</button>
</form>

    </div>
</div>