
   
           
            <div class="wishlist-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="li-product-remove">remove</th>
                                                <th class="li-product-thumbnail">images</th>
                                                <th class="cart-product-name">Product</th>
                                                <th> ngayhethan</th>
                                                <th class="li-product-add-cart">add to cart</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each product}}
                                            <tr>
                                                <td class="li-product-remove"><a href="#"><i class="fa fa-times"></i></a></td>
                                                <td class="li-product-thumbnail"><img src="images/product/large-size/{{IdSanPham}}.jpg" alt="Li's Product Image"height="10px" width="10px"></td> 
                                                <td>{{TenSanPham}}</td>
                                                <td>{{NgayHetHan}}</td>
                                                <td class="li-product-add-cart"><a href="#">add to cart</a></td>
                                                   
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
            