<!-- Header Area End Here -->
<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            {{#each lcCategories.[0]}}
                            <li class="right-menu"><a href="category-4-column.html">{{TenDanhMuc}}</a>
                                <ul class="cat-mega-menu">
                                    <li class="right-menu cat-mega-title">
                                        <ul>
                                            {{#each ../lcCategories.[1]}}
                                            {{#if (eq ThuocDanhMuc ../IdDanhMuc)}}
                                            <li><a href="category-4-column.html">{{TenDanhMuc}}</a></li>
                                            {{/if}}
                                            {{/each}}
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            {{/each}}
                            
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-9">
                <div class="slider-area pt-sm-30 pt-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-4">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sản phẩm <span>HOT </span>nhất ngày</h5>
                                <h2>Điện thoại Galaxy S9 | S9+</h2>
                                <h3>Giá hiện tại <span>589.000 VND</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="single-product.html">Tham gia đấu giá</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-01 bg-5">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sản phẩm <span>HOT </span>nhất ngày</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Giá hiện tại <span>10.000.000 VND</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="single-product.html">Tham gia đấu giá</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide align-center-left animation-style-02 bg-6">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sản phẩm <span>HOT </span>nhất ngày</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Giá hiện tại <span>9.000.000 VND</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="single-product.html">Tham gia đấu giá</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Category Menu Area End Here -->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner pt-20 pt-sm-30 pt-xs-30">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4">
                <div class="single-banner pb-xs-30">
                    <a href="single-product.html">
                        <img src="images/banner/1_3.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4">
                <div class="single-banner pb-xs-30">
                    <a href="single-product.html">
                        <img src="images/banner/1_4.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4">
                <div class="single-banner">
                    <a href="single-product.html">
                        <img src="images/banner/1_5.jpg" alt="Li's Static Banner">
                    </a>
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Special Product Area -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Near Expiry</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="special-product-active owl-carousel">
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/1.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 1</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Nguyễn Minh Tân</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Màn hình ASUS
                                                VZ249HE</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                17/03/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 5</span>
                                            <span class="new-price new-price-2">700.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/2.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 2</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Văn Hùng</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Webcam Logitech
                                                B525 HD 720P</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">200.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/5.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 3</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Mozard Y550</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">350.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/8.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 4</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Máy tính bảng
                                                iPad Mini 7.9 inch</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 8</span>
                                            <span class="new-price new-price-2">400.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/7.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 5</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Wetop A3</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                21/01/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 12</span>
                                            <span class="new-price new-price-2">990.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Special Product Area End Here -->
<!-- Begin Li's Special Product Area -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>Most Bids</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="special-product-active owl-carousel">
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/1.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 1</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Nguyễn Minh Tân</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Màn hình ASUS
                                                VZ249HE</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                17/03/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 5</span>
                                            <span class="new-price new-price-2">700.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/2.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 2</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Văn Hùng</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Webcam Logitech
                                                B525 HD 720P</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">200.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/5.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 3</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Mozard Y550</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">350.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/8.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 4</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Máy tính bảng
                                                iPad Mini 7.9 inch</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 8</span>
                                            <span class="new-price new-price-2">400.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/7.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 5</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Wetop A3</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                21/01/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 12</span>
                                            <span class="new-price new-price-2">990.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Special Product Area End Here -->
<!-- Begin Li's Special Product Area -->
<section class="product-area li-laptop-product Special-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>High bid</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="special-product-active owl-carousel">
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/1.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 1</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Nguyễn Minh Tân</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Màn hình ASUS
                                                VZ249HE</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                17/03/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 5</span>
                                            <span class="new-price new-price-2">700.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/2.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 2</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Văn Hùng</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Webcam Logitech
                                                B525 HD 720P</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">200.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/5.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 3</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Mozard Y550</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 7</span>
                                            <span class="new-price new-price-2">350.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/8.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 4</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Phạm Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Máy tính bảng
                                                iPad Mini 7.9 inch</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                15/10/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 8</span>
                                            <span class="new-price new-price-2">400.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"><span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="images/product/large-size/7.jpg" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">Top 5</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <span>Bidder: </span>
                                                <a href="">Trần Minh Huy</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Loa Bluetooth
                                                Wetop A3</a></h4>
                                        <div><span class="start-date"><span class="fa fa-calendar"></span>
                                                21/01/2019</span></div>
                                        <div class="price-box">
                                            <span class="new-price"><span class="fa fa-gavel"></span> 12</span>
                                            <span class="new-price new-price-2">990.000 VND</span>
                                        </div>
                                        <div class="countersection">
                                            <div class="li-countdown"></div>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active"><a href="#"> <span
                                                        class="fa fa-shopping-cart"></span> 500.000 VND</a></li>
                                            <li><a class="links-details" href="wishlist.html"><i
                                                        class="fa fa-heart-o"></i></a></li>
                                            <li><a href="#" title="quick view" class="quick-view-btn"
                                                    data-toggle="modal" data-target="#exampleModalCenter"><i
                                                        class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Special Product Area End Here -->