
  <form method="POST">
  <div class="form-group">
      <label for="TenDangNhap">Tên đăng nhập</label>
      <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap"
      autofocus>
  </div>
  <div class="form-group">
      <label for="MatKhau">Mật Khẩu</label>
      <input type="text" class="form-control" id="MatKhau" name="MatKhau"
      autofocus>
  </div>
  <div class="form-group">
      <label for="HoVaTen">Họ và tên</label>
      <input type="text" class="form-control" id="HoVaTen" name="HoVaTen"
      autofocus>
  </div>
  <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" id="Email" name="Email"
      autofocus>
  </div>
  <div class="form-group">
      <label for="NgaySinh">Ngày sinh</label>
      <input type="date" class="form-control" id="NgaySinh" name="NgaySinh" placeholder="2000-01-01"
      autofocus> 
  </div>
  <div class="form-group">
    <label for="LoaiNguoiDung">Loại người dùng</label>
    <select id="LoaiNguoiDung" name="LoaiNguoiDung">
      <option value="0">Admin</option>
      <option value="1">Buyer</option>
      <option value="2">Seller</option>
    </select>
  </div>
  <button type="submit" class="btn btn-outline-success">
      <i class="fa fa-check" aria-hidden="true"></i>
      Add
  </button>
  </form>

